.tournament-container {
  @apply dark:bg-neutral-800;
  background-color: cornflowerblue;
  height: 100vh;
}

.n-tatami-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  font-weight: bold;
  font-size: 5vh;
  background-color: skyblue;
  @apply dark:bg-sky-700;
}

.multi-table-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  margin-top: 5vh;
}

.table-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}

.table-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3vh;
  font-weight: bold;
  width: 100%;
  padding: 3vh 7vh;
}

.table {
  @apply dark:bg-neutral-800;
  @apply bg-white;
  border-collapse: collapse;
  margin: 0vh 7vh;
  margin-bottom: 4vh;
  border-radius: 2vh 2vh;
  overflow: hidden;
  box-shadow: 0 0 1.5vh rgba(0, 0, 0, 0.4);
}

#athlete-table {
  width: 95%;
}

.table thead td {
  @apply bg-sky-200;
  @apply border-sky-200;
  @apply dark:bg-sky-800;
  @apply dark:border-sky-800;
  font-weight: bold;
  padding: 1vh 1vh;
  height: 1vh;
  border: 0.1vh solid;
}

.table tbody {
  display: block;
  height: 40vh;
  overflow-y: auto;
}

#athlete-table tbody{
  height: 73.75vh;
}

.table thead,
.table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table tbody td {
  @apply dark:border-neutral-900;
  @apply border-neutral-200;
  border: 0.1vh solid;
  padding: 1vh 1vh;
  height: 1vh;
}

.table tr:nth-of-type(even) {
  @apply dark:bg-neutral-700;
  background-color: #f3f3f3;
}

.table tr.active-row {
  font-weight: bold;
  background-color: lightgreen;
  @apply dark:bg-green-700;
}

.table tr.finished-row {
  background-color: darkgray;
  @apply dark:bg-neutral-500;
}

.table tr.warning-row {
  background-color: red;
}

.table-empty {
  text-align: center;
  font-size: bold;
}

.table-column-50 {width: 50%;}
.table-column-40 {width: 40%;}
.table-column-25 {width: 25%;}
.table-column-20 {width: 20%;}
.table-column-15 {width: 15%;}
.table-column-10 {width: 10%;}

.bold-text {
  font-weight: bold;
}

.age-class-row td{
  height: 10vh !important;
  font-size: 5vh;
  font-weight: bold;
  @apply bg-sky-400;
  @apply dark:bg-sky-900;
}

.category-row td {
  height: 8vh !important;
  font-size: 3.5vh;
  font-weight: bold;
  @apply bg-sky-200;
  @apply dark:bg-sky-700;
}

.centered-text {
  text-align: center;
}

.button-row {
  margin-top: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tournament-button {
  border: 0.5vh solid black;
  border-radius: 1.5vh;
  cursor: pointer;
  font-size: 2.5vh;
  padding: 1.5vh 2.5vh;
  width: 15%;
  height: 12vh;
}

.athlete-button {
  border: 0.5vh solid black;
  border-radius: 1.5vh;
  cursor: pointer;
  font-size: 2.5vh;
  width: 15%;
  height: 7vh;
}
.orange {
  @apply dark:bg-orange-700;
  @apply dark:hover:bg-orange-500;
  @apply bg-orange-400;
  @apply hover:bg-orange-700;
}

.icon-button {
  border: 0.5vh solid black;
  border-radius: 1.5vh;
  cursor: pointer;
  font-size: 3vh;
  padding: 0.5vh 0.5vh;
}